body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.clearFix::after {
  content: "";
  clear: both;
  display: table;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
